 /*This is my 201 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* ---------- Hello, my name is Erika DeAnda and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing November 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/forest_background.jpg) 
      center center fixed no-repeat; 
    background-size: cover;
    font-family: "helvetica", sans-serif;
	
	
}

.center {
   width: 80%; /* added this to make div responsive */ 
    max-width: 800px;
	padding: 2%;
    margin: 150px auto;
	text-align: center;
    width: 800px;
    height: 500px;
    background: rgba(300, 300, 300, .60); /*this uses opacity of 60% for the background color*/
    border-radius: 400px / 90px;
}

   
#logo {
    margin-bottom: 90px;
	border: 40px;
	text-align: center;
}


p {
    font-size: 1.2em;
    line-height: 1.2;
    padding: 3.5%;
    font-family: bree, sans-serif; /* changed font style */
    font-weight: 300;
    font-style: normal;
    color: #153A50; /* changed text color */ 
    

}
 
nav{ 

    width: 55%;
    margin: 0 auto;
    text-align: center;
    padding: 2px 0;
    font-family: "helvetica", sans-serif;
    }
/* all code below replaced demo style...By Josh Johnson changes horizontal navigation */    


nav ul {
  overflow: auto;
  list-style-type: none;
}

nav li {
  height: 30px;
  float: right ;
  margin-right: 0px;
  padding: 0 30px;
  text-align: center;
    
}

nav li:last-child {
  border-right: none;
}

nav li a {
  text-decoration:none;
  color: #231F20;
  font: 18px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 1s ease;
}

nav li a:hover {
  color: #0089B7;
}

nav li.active a {
  font-weight: bold;
  color: #333;
}

